.nav-content {
    box-shadow: 0px 0px 10px 0px rgb(201, 171, 171);
}

.tabs .tab {
    text-align: left !important;
    width: 10%;
}

.tabs .tab a {
    padding: 0;
}

h5 {
    font-size: 10px;
    text-transform: uppercase;
    font-weight: 600;
    margin: 10px 10px 10px 10px;
}

.head {
    font-weight: 600;
    margin: 0;
    text-transform: uppercase;
}

.col p {
    margin: 0;
    font-size: 12px;
    color: black;
}

.head-1 {
    font-weight: 600;
    margin: 0;
    font-size: 12px;
}

.btn-1 .btn {
    margin-top: 2px;
    width: 150px;
    font-size: 10px;
    height: 25px;
    line-height: 25px;
    border-radius: 5px;
    background-color: white;
    box-shadow: none;
    color: black;
    border: black 1px solid;
    text-transform: uppercase;
    font-weight: 600;
}

.shopnow {
    display: block;
    color: black;
    font-weight: 600;
    font-size: 12px;
    text-transform: uppercase;
}

.ho-ver {
    position: relative;
    overflow: hidden;
    height: 300px;
}

.img-show {
    display: inline;
    position: absolute;
    top: 0;
    left: 0;
}

.img-dis {
    display: inline;
    position: absolute;
    top: 0;
    left: 100%;
}

.ho-ver:hover .img-dis,
.ho-ver:active .img-dis {
    top: 0;
    left: 0%;
    transition: 500ms;
}

.ho-ver:hover .img-show,
.ho-ver:active .img-show {
    top: 0;
    left: -100%;
    transition: 500ms;
}

.money {
    margin-top: 10px;
    font-weight: 600;
}

h4 {
    display: block;
    text-align: center;
}

.blog p {
    display: block;
    text-align: center;
}

.img1 {
    position: relative;
}

.descrip {
    border: 1px rgb(235, 219, 219) solid;
    width: 90%;
    position: absolute;
    top: 80%;
    left: 5%;
    z-index: 1;
    background-color: white;
    padding-left: 5%;
    padding-bottom: 3%;
}

.descrip p {
    text-align: left;
    display: block;
}

h6 {
    display: block;
    font-weight: 600;
}

.img2 {
    position: relative;
    height: ;
}

.descrip1 {
    border: 1px rgb(235, 219, 219) solid;
    width: 90%;
    position: absolute;
    top: 90%;
    left: 5%;
    z-index: 1;
    background-color: white;
    padding-left: 5%;
    padding-bottom: 3%;
}

input::placeholder {
    font-size: 10px;
    padding-left: 10px;
    line-height: 40;
}

h3 {
    font-size: 14px;
    font-weight: 600;
    margin-left: 10%;
}

.footer-1 li {
    font-size: 13px;
    margin-left: 10%;
}

.ng-hide {
    height: 0;
    width: 0;
    background-color: transparent;
    top: -200px;
    left: 200px;
}

@media only screen and (max-width: 600px) {
    .footer-1 div {
        border-right: none;
    }
}